.footer-element {
    background-color: #cbf4f0;
    color: #3e5158;
}

.footer-container {
    text-align: center;
}

.footer-linktree {
    font-size: 1.5rem;
    padding: 2%;
    margin-bottom: 10rem;
}

.footer-linktree a {
    color: #3e5158;
}

.footer-linktree a:hover {
    color: black;
}

.footer-copyright-text {
    padding-bottom: 1%;
    margin-top: 1%;
    font-size: 1rem;
}